/* FONT STACK starts here */
			
			@font-face,
			.akkurat-light {
			    font-family: "Akkurat Pro Light";
			    src: url("http://common.northwestern.edu/v8/css/fonts/AkkuratProLight.woff") format("woff");
			    font-weight: normal;
			    font-style: normal
			}
			
			@font-face,
			.akkurat-light-italic {
			    font-family: "Akkurat Pro Light Italic";
			    src: url("http://common.northwestern.edu/v8/css/fonts/AkkuratProLightItalic.woff") format("woff");
			    font-weight: normal;
			    font-style: normal
			}
			
			@font-face,
			.akkurat-regular {
			    font-family: "Akkurat Pro Regular";
			    src: url("http://common.northwestern.edu/v8/css/fonts/AkkuratProRegular.woff") format("woff");
			    font-weight: normal;
			    font-style: normal
			}
			
			@font-face,
			.akkurat-italic {
			    font-family: "Akkurat Pro Italic";
			    src: url("http://common.northwestern.edu/v8/css/fonts/AkkuratProItalic.woff") format("woff");
			    font-weight: normal;
			    font-style: normal
			}
			
			@font-face,
			.akkurat-bold {
			    font-family: "Akkurat Pro Bold";
			    src: url("http://common.northwestern.edu/v8/css/fonts/AkkuratProBold.woff") format("woff");
			    font-weight: normal;
			    font-style: normal
			}
			
			@font-face,
			.akkurat-bold-italic {
			    font-family: "Akkurat Pro Bold Italic";
			    src: url("http://common.northwestern.edu/v8/css/fonts/AkkuratProBoldItalic.woff") format("woff");
			    font-weight: normal;
			    font-style: normal
			}
			
			@font-face,
			.campton-book {
			    font-family: "Campton Book";
			    src: url("http://common.northwestern.edu/v8/css/fonts/CamptonBook.woff") format("woff");
			    font-weight: normal;
			    font-style: normal
			}
			
			@font-face,
			.campton-bold {
			    font-family: "Campton Bold";
			    src: url("http://common.northwestern.edu/v8/css/fonts/CamptonBold.woff") format("woff");
			    font-weight: normal;
			    font-style: normal
			}
			
			@font-face,
			.campton-extra-bold {
			    font-family: "Campton Extra Bold";
			    src: url("http://common.northwestern.edu/v8/css/fonts/CamptonExtraBold.woff") format("woff");
			    font-weight: normal;
			    font-style: normal
			}
			
			@font-face,
			.campton-extra-light {
			    font-family: "Campton Extra Light";
			    src: url("http://common.northwestern.edu/v8/css/fonts/CamptonExtraLight.woff") format("woff");
			    font-weight: normal;
			    font-style: normal
			}
			
			/* FONT STACK Ends here */
			
/* 			BASE OVERRIDES */
			body{
				background: #401F68;
				color: white;
			}
			
			.headlines{
				font-family: "Campton Bold", sans-serif !important;
				color: #fff;
				text-shadow: 1px 3px 2px rgba(0,0,0,0.2);
				margin-bottom: 30px;
			}
			.headlines-pages{
				font-family: "Campton Regular", sans-serif !important;
				border-left: 5px solid #fff !important;
				border-bottom: 1px solid #fff;
				padding-bottom: 10px;
				padding-left: 10px;
			}
			.sub-headlines{
				font-family: "Akkurat Pro Light", sans-serif;
				font-size: medium;
				margin-bottom: 5px;
				margin-bottom: 10px;
				font-size: 30px;
			}
			.bold{
				font-weight: bold;
				background: #4e2a84;
				color: #fff;
			}
			code{
				background: transparent;
				color: #000;
				font-weight: bold;
				max-width: 100% !important;
				word-break: break-word;
			}
			
			div.font-stack{
				background: #E4E0EE;
				color: #000;
				
			}
			
			.change-ind{
				font-family: "Akkurat Pro Light", sans-serif;
				text-transform: uppercase;
			}
			
		
			h1.headlines:before,
			h1.headlines:after{
				background: url("http://common.northwestern.edu/v8/css/images/icons/grey-slash.svg") no-repeat 50%/17px 21px;
				padding: 0 25px;
				content: " ";				
			}
			
			.container-fluid{
/* 				max-width: 1120px; */
				width: 100%;
			}
			
			.email-link{
				color: #fff;
				font-weight: bold;
				text-decoration: underline;
			}
			
			.navbar-btn{
				text-transform: uppercase;
				font-weight: bold;
			}
			
			.navbar-btn:hover{
				background: #836EAA;
				color: #4e2a84;
			}
			
			h2.navbar-text.navbar-left{
				color: #4e2a84;
			}
			
			
			/* nav style */
			
			.nav-style{
				list-style: none;
				float: left;
			}
			
			
			.button-block{
				text-align: center;
				padding-top: 10px;
			}
			
			.btn.branded{
				text-align: center;
				background: #4e2a84;
				font-family: 'Akkurat Pro Regular', arial, sans-serif !important;
				color: #ffffff;
				text-decoration: none;
			    text-transform: uppercase;
			    font-weight: normal;
			    margin: 0 .5em .5em 0;
			    padding: .8em 1em .7em 1em;
			    cursor: pointer;
			    -webkit-tap-highlight-color: transparent;
			    display: inline-block;
			    vertical-align: middle;
			    -webkit-transform: translateZ(0);
			    transform: translateZ(0);
			    box-shadow: 0 0 1px transparent;
			    -webkit-backface-visibility: hidden;
			    backface-visibility: hidden;
			    -moz-osx-font-smoothing: grayscale;
			    position: relative;
			    -webkit-transition-property: color;
			    transition-property: color;
			    -webkit-transition-duration: 0.4s;
			    transition-duration: 0.4s;
			    min-width: 165px;
			    border: none
			}
			
			.btn.branded:before{
				content: "";
			    position: absolute;
			    z-index: -1;
			    top: 0;
			    left: 0;
			    right: 0;
			    bottom: 0;
			    background: #b6acd1;
			    -webkit-transform: scaleX(0);
			    transform: scaleX(0);
			    -webkit-transform-origin: 0 50%;
			    transform-origin: 0 50%;
			    -webkit-transition-property: transform;
			    transition-property: transform;
			    -webkit-transition-duration: 0.4s;
			    transition-duration: 0.4s;
			    -webkit-transition-timing-function: ease-out;
			    transition-timing-function: ease-out;
			}
			.btn.branded:hover:before{
			    -webkit-transform: scaleX(1);
			    transform: scaleX(1);
			}
			
			
			/* h1, h2, h3, h4, h5, h6 styles */
			

			
			h2 {
				font: 46px/1.2em "Campton Book", Tahoma, sans-serif !important;
				color: #4e2a84;
				margin-bottom: 1rem
			}
			
			h3 {
				font: 34px/1.2em "Campton Bold", Impact, sans-serif !important;
				color: #4e2a84;
				margin-bottom: .5rem
			}
			
			h4{
				font: 26px/1.2em "Akkurat Pro Regular", Arial, sans-serif !important;
				color: #716c6b;
				margin-bottom: 1rem
			}
			h5{
				font: 21px/1.3em "Akkurat Pro Regular", Arial, sans-serif !important;
				color: #4e2a84;
				margin-bottom: 1rem
			}
			
			h6{
				font: 18px/1.3em "Campton Bold", Impact, sans-serif !important;
				color: #716c6b;
				margin-bottom: 1rem
			}